*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Roboto,sans-serif;
background:#f5f5f5;
}

header{

background:#4b1470;

color:white;

padding:1rem;

position:relative;

}

header h1{

font-size:1.7rem;

}

#menu{

position:absolute;

right:20px;

top:15px;

font-size:2rem;

background:none;

border:none;

color:white;

cursor:pointer;

}

nav{

display:none;

flex-direction:column;

margin-top:1rem;

}

nav.open{

display:flex;

}

nav a{

text-decoration:none;

color:white;

padding:.8rem;

transition:.3s;

}

nav a:hover{

background:white;

color:#4b1470;

}

main{

max-width:1000px;

margin:auto;

padding:20px;

}

h2{

text-align:center;

margin-bottom:20px;

}

.galeria{

display:grid;

grid-template-columns:1fr;

gap:20px;

}

figure{

background:white;

padding:10px;

box-shadow:0 0 5px rgba(0,0,0,.2);

text-align:center;

}

img{

width:100%;

height:auto;

display:block;

}

figcaption{

margin-top:10px;

}

footer{

background:#4b1470;

color:white;

text-align:center;

padding:20px;

margin-top:30px;

}