@media screen and (min-width: 700px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menuButton {
        display: none;
    }

    #menu,
    #menu:not(.open) {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        gap: 0.5rem;
    }

    #menu a {
        padding: 0.75rem 1rem;
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}